* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #fff;

}

.landing-image{
  position: relative;
  background: url('./img/unk1.jpg') no-repeat center bottom/cover;
  height: 100vh;
}

.wrapper{
  padding: 2rem 0rem;
}

.navbar{
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}


.media{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.media i{
  color: #fff;
  font-size: 2.2rem;

}
.fab:hover{
  color: #7bdff2;
}


.title{
  font-size: 1.3rem;
  color: #fff;
}
.title:hover{
  color: #7bdff2;
}


.details{
  font-size: 1.3rem;
  color: #fff;
  padding-top: 8rem;
  padding-left: 20%;
}
.date:hover{
  color: #ff7f51;
}

.details:hover{
  color: #7bdff2;
}

.line-up {
  color: #fff;
  padding-top: 14.5rem;
  padding-left: 50%;
  padding-bottom: 0;
}
.line-up:hover{
  color: #7bdff2;
}

.seeyou{
padding-top: 5rem;
color: azure;
text-align: center;
}
.credit{
  padding-top: 1rem;
  color: azure;
  text-align: center;
}
.seeyou:hover{
  color: #7bdff2;
}
.credit:hover{
  color: #7bdff2;
}

@media (max-width: 900px){
  .title{
    font-size: 0.8rem;
    color: #fff;
  }
  .details{
    font-size: 1.3rem;
    color: #fff;
    padding-top: 6rem;
    padding-left: 20%;
  }
}